* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

/* Navbar */
.navbar {
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    height: 50px;
}

/* Logo */
.logo {
    font-size: 24px;
    color: #808080; /* Título Nexius Manager em cinza */
    font-family: 'Antic Didone', serif;
}

/* Menu Desktop */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: 'Abyssinica SIL', serif;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: green;
}

/* Menu Mobile */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    z-index: 1000;
}

.nav-links-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    list-style: none;
    padding: 2rem;
}

.nav-links-mobile a {
    color: white;
    text-decoration: none;
}

.nav-links-mobile li {
    border-bottom: 1px solid #787272;
    padding-bottom: 1.2rem;
}

/* Botão de fechar */
.close {
    margin-top: 20px;
    margin-right: 20px;
    align-self: flex-end;
    color: white;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Botão de hamburguer */
.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

/* Media Queries para Mobile */
@media(max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }
}
